# database replica set name
MY_MONOGO_REPLICA_SET_NAME=MongoRS

# database root username and password
MY_INITDB_ROOT_USERNAME=_your_mongodb_root_username_
MY_INITDB_ROOT_PASSWORD=_your_mongodb_root_password_

# database name, username and password
MY_DATABASE_NAME=YourDB
MY_DATABASE_USERNAME=_your_mongodb_itms_username_
MY_DATABASE_PASSWORD=_your_mongodb_itms_password_
